<div class="container mx-auto px-4">
    <div class="w-2/3 mx-auto">
        <h3 class="font-bold text-center mb-4">New Gig</h3>
        {{#if error}}
        <p class="text-red">{{error}}</p>
        {{/if}}
        <form action="/client/new" method="post">
           <div class="mb-4">
               <label for="" class="block mb-2 text-sm font-bold text-gray-700">Title</label>
               <input type="text" placeholder="Gig title" name="title" class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
           </div>
           <div class="mb-4">
               <label for="" class="block mb-2 text-sm font-bold text-gray-700">Technologies</label>
               <input name="tech" placeholder="eg javaScript, Flutter, Php....." type="text" class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
           </div>
           <div class="mb-4">
               <label for="" class="block mb-2 text-sm font-bold text-gray-700">Level of Experience</label>
               <select name="xp" id="" class="w-full h-9 py-2 focus:outline-none">
                   <option value="minimal">Minimal</option>
                   <option value="intermediate">Intermediate</option>
                   <option value="high">High</option>
               </select>
           </div>
           <div class="mb-4">
               <label for="" class="block mb-2 text-sm font-bold text-gray-700">Project Duration</label>
               <select name="duration" id="" class="w-full h-9 py-2 focus:outline-none">
                   <option value="less than a month">Less than a Month</option>
                   <option value="between 3 and 6 months">Between 3 and 6 months</option>
                   <option value="more than 6 months">More than 6 months</option>               </select>
           </div>
           <div class="mb-4">
               <label for="" class="block mb-2 text-sm font-bold text-gray-700">Budget Target</label>
               <input type="text" name="budget" placeholder="Estimated budget eg. 200,000" class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
           </div>
           <div class="mb-4">
               <label for="" class="block mb-2 text-sm font-bold text-gray-700">Further Details</label>
               <textarea name="description" id="" cols="30" rows="10"></textarea>
           </div>
           <div class="mb-8">
               <button type="submit" class="w-full px-4 py-2 font-bold text-white bg-blue-500 shadow-lg rounded-sm hover:bg-blue-600 focus:outline-none focus:shadow-outline">Submit</button>
           </div>
        </form>
    </div>
</div>