<main id="main-content">
    <section id="banner">
        <div id="banner-desc">
            <h1>Welcome to DevGig</h1>
            <p>
                Find great talent. Build your business.<br /> Take your career to the next level
            </p>

            <a href="/signup"><button class="btn-primary">Get Started</button></a>
        </div>
        <div id="banner-img">
            <img src="/images/team.svg" alt="a team svg">
        </div>
    </section>
    <section class="call-to-action">
        <h1>Find talent <br />your way</h1>
        <p class="cta-p">Choose from a wide range of portfolios <br />
            of talented developers. Get the best <br />
            for your project.</p>
        <div class="cards">
            <div class="post-job card">
                <h2>Post a job<br /> and hire a pro</h2>
                <p>Pro Marketplace</p>
            </div>
            <div class="post-skills card">
                <h2>Post your skills <br /> and get hired</h2>
                <p>Pro Portfolios</p>
            </div>
        </div>
    </section>
    <section class="features">
        <h1>Hire a Pro for your next project</h1>
        <div class="feature-cards">
            <div class="feature-card">
                <div class="icons"><i class="fab fa-chrome"></i></div>
                <h2>Web Dev.</h2>
                <p>Full Stack, Frontend & Backend</p>
            </div>
            <div class="feature-card">
                <div class="icons"><i class="fas fa-mobile-alt"></i></div>
                <h2>Mobile Apps</h2>
                <p>iOS, Web & Android</p>
            </div>
            <div class="feature-card">
                <div class="icons"><i class="fas fa-desktop"></i></div>
                <h2>Desktop Apps</h2>
                <p>MacOS, Windows & Linux</p>
            </div>
            <div class="feature-card">
                <div class="icons"><i class="fas fa-gamepad"></i></div>
                <h2>Game Dev.</h2>
                <p>Unity, C# & C++</p>
            </div>
            <div class="feature-card">
                <div class="icons"><i class="fas fa-microchip"></i></div>
                <h2>Microchip Dev.</h2>
                <p>Arduino, C++ & Robotics</p>
            </div>
            <div class="feature-card">
                <div class="icons"><i class="fas fa-robot"></i></div>
                <h2>AI</h2>
                <p>Big Data, NLP & Expert Systems</p>
            </div>
        </div>
    </section>
</main>
<div class="landing-page-circle-1"></div>
<div class="landing-page-circle-2"></div>
<div class="landing-page-circle-3"></div>